.message {
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: 20px;
  &.own {
    align-items: flex-end;
    & .message-text {
      background-color: navy;
      margin-right: 10px;
    }
  }
}
.message-img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}
.message-top {
  display: flex;
}
.message-text {
  padding: 1rem;
  border-radius: 20px;
  background-color: rgb(172, 172, 223);
  max-width: 25rem;
}

.message-bottom {
  font-size: 0.85rem;
  margin-top: 10px;
}
